NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=oficina
DB_PASSWORD=oficina
DB_NAME=oficina

JWT_SECRET=EmHzUxUalRvagKzD2/B5GwMkNK+7L07Y+HX/H7mNwqKVdWZBKM/BbiPbX23IZjuk
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=hd01CRqmIUa3MOGpzwHzBoWYGRQkrugTLiOpWBUmjQagPPiCqglj8Ng+uO22Xxq9
JWT_REFRESH_EXPIRES_IN=7d

# Auto-seed do banco no startup do container (idempotente)
AUTO_SEED=true

# SMTP (notificação de status da OS por e-mail — MailHog em dev)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=oficina@oficina.com

# pgAdmin
PGADMIN_EMAIL=admin@oficina.com
PGADMIN_PASSWORD=admin
